body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ccc;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(212, 209, 209);
    text-align: center;
    background-color: #333333;
}

.main {
    display: flex;
    height: 80vh;
}

.converters {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3;
    border: 1px solid black;
}


.converters>div {
    width: 85%;
    margin: 20px;
}

.converters button {
    margin: 0;
    padding: 7px;
    width: 100%;
    text-align: left;
    background: #666;
    font-size: 25px;
    border: none;
    outline: none;
}

.inputs {
    overflow: hidden;
    height: 0;
    background: rgb(148, 95, 95);
    transition: .6s;
}

.active {
    display: block;
    height: 150px;
}

#value {
    width: 100px;
}

.result {
    height: 100px;
    background-color: rgb(104, 103, 167);
}

.side {
    flex: 1;
    border: 1px solid black;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #948f8f;
}